.matchesContent {
    width: 77.5rem;
}

.matches {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    grid-auto-flow: row;
    align-content: start;
}

.match {
    height: 10rem;
    width: 24.9rem;
    display: column;
    justify-content: content;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 6px 20px rgba(168, 198, 255, 0.17);
}

.match:hover {
    transition-duration: 0.1s;
    transform: scale(1.015);
}

.matchDate {
    width: 100%;
    height: 13%;
    text-align: center;
    font-size: 15px;
    padding-top: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.matchDate span {
    color: white;
}

.LIVE {
    background-color: #90ee90;
}

.IN_PLAY {
    background-color: #adff2f;
}

.PAUSED {
    background-color: #4fd4b8;
}

.FINISHED {
    background-color: #41c541;
}

.SCHEDULED  {
    background-color: #6da0ff;
}

.CANCELED {
    background-color: #ff0000;
}

.SUSPENDED  {
    background-color: #ff4800;
}

.POSTPONED {
    background-color: #ff9f79;
}

.matchScore {
    display: flex;
    justify-content: space-around;
    align-items: start;
    text-align: center;
    padding-top: 5%;
}

.scoreContainer {
    height: 5rem;
    display: flex;
    align-items: center;
}

.score { 
    font-size: 25px;
    font-weight: bold;
}

.team {
    width: 40%;
    height: 7.1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.team span {
    font-size: 15px;
}

.clubCrestScore {
    height: 70px;
    padding-bottom: 8px;
}

.matchdaySelector {
    width: 100%;
    background-color: #1e1e1e;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;
}

.matchdayButton {
    background-color: #333333;
    color: white;
    font-size: 25px;
    font-weight: bold;
    height: 30px;
    width: 60px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.matchdayButton i {
    font-weight: 100;
    color: white;
}

.matchdayDisplay {
    font-size: 30px;
    margin: 0px 20px;
}